<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.js"></script>
Advanced Search

<form id="form">
<select id="category">
<% for (var i = 0; i < categories.length; i++) { %>
    <option><%=categories[i]%></option>
<%}%>    
</select>

<input type="text" id="descricao"/>
<button id="search">Pesquisar</button>
</form>

<script>
$('#search').click(function(event) {
    $.ajax({
        url: '/mame/results/',
        type: 'POST',
        dataType : 'json',
        data : $("#form").serialize(), 
        error: function() {
            console.log('error');
        },
        success: function(data) {
            console.log('resposta ' + data);
        },
    });    
});
</script>