<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.js"></script>

<select>
<% for (var i = 0; i < categories.length; i++) { %>
    <option><%=categories[i]%></option>
<%}%>    
</select>

<input type="text" id="description" name="description"/>
<button id="search">Pesquisar</button>

<script>
$('#search').click(function(event) {
    $.ajax({
        url: '/mame/machine/desc/' + $('#description').val() + '/1',
        //url: 'http://localhost:3001/mame/api/machine/desc/' + $('#descricao').val(),
        type: 'GET',
        error: function() {
            console.log('error');
        },
        success: function(data) {
            console.log(data[1].name);
            /*
            json = JSON.parse(data);
            console.log('DATA===>' + json);
            console.log('name==>' + json[1]);
            console.log('size==>' + json.length);
            console.log('name==>' + json[1].name);
            */
            /*
            for (var i = 0; i < data.length; i++) {
                console.log('name=>' + data[i].name);
            }*/
        },
    });    
});
</script>