<table class="table table-striped table-hover">
    <caption>List of chips</caption>
    <thead class="thead-light">
    <tr>
        <th>Name</th>
        <th>tag</th>
        <th>type</th>
        <th>clock</th>
    </tr>
    <% data.machine.chip.forEach(function(chip) {%>
        <tr>
            <td>
                <%=chip.name%>
            </td>
            <td>
                <%=chip.tag%>
            </td>
            <td>
                <%=chip.type%>
            </td>
            <td>
                <%=chip.clock%>
            </td>
        </tr>
        <%});%>
</table>
