<table class="table table-striped table-hover">
    <caption>List of device refs</caption>
    <thead class="thead-light">
    <tr>
        <th>Name</th>
    </tr>
    <% data.machine.deviceref.forEach(function(deviceref) {%>
        <tr>
            <td>
                <%=deviceref.name%>
            </td>
        </tr>
        <%});%>
</table>
