<table class="table table-striped table-hover">
    <caption>List of port</caption>
    <thead class="thead-light">
    <tr>
        <th>tag</th>
        <th>analog</th>
    </tr>
    </thead>
    <% data.machine.port.forEach(function(port) {%>
        <tr>
            <td>
                <%=port.tag%>
            </td>
            <td>
                <% port.analog.forEach(function(analog){ %>
                    <%=analog.mask%>
                        <%}); %>
            </td>
        </tr>
        <%}); %>
</table>
