<table class="table table-striped table-hover">
    <caption>List of softwarelist</caption>
    <thead class="thead-light">
    <tr>
        <th>name</th>
        <th>status</th>
        <th>filter</th>
    </tr>
    </thead>
    <% data.machine.softwarelist.forEach(function(softwarelist) {%>
        <tr>
            <td>
                <%=softwarelist.name%>
            </td>
            <td>
                <%=softwarelist.status%>
            </td>
            <td>
                <%=softwarelist.filter%>
            </td>
        </tr>
        <%}); %>
</table>
