<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>GLOG - Attract Mode Control Panel</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="/plugins/datatables/dataTables.bootstrap.css">

  <!-- Theme style -->
  <link rel="stylesheet" href="/dist/css/AdminLTE.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="/dist/css/skins/_all-skins.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="/plugins/iCheck/flat/blue.css">
  <!-- Date Picker -->
  <link rel="stylesheet" href="/plugins/datepicker/datepicker3.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="/plugins/daterangepicker/daterangepicker.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <style>
    th {
    	background-color: lightblue;
	    color: black;
    }
    .total {
      float:right;
      background-color:#101010;
      padding:2px;
      margin-right:10px;
      color:white;
      font-weight:bold;
    }
  </style>
</head>

<body class="hold-transition skin-blue sidebar-mini fixed">
  <div class="wrapper">

    <header class="main-header">
      <!-- Logo -->
      <a href="/index2.html" class="logo">
        <span class="logo-lg">
          <b></span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
      <!-- sidebar: style can be found in sidebar.less -->
      <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
          <div class="xpull-left ximage">
            <img src="/dist/img/Attract Mode.png" width="214">
          </div>
        </div>
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul>
          <select id="category">
              <option>-&gt; CATEGORY &lt;-</option>
              <% for (var i = 0; i < categories.length; i++) { %>
                  <option value="<%=categories[i]%>"><%=categories[i]%></option>
              <%}%>    
          </select>            
        </ul>
        <ul class="sidebar-menu" id="sidebar-menu">
          <li>
            <a href="/#">
              <i class="fa fa-book"></i>
              <span>example</span>
            </a>
          </li>
        </ul>
      </section>
      <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        HEADER
      </section>

      <!-- Main content -->
      <section class="content">

        <!-- Main row -->
        <div class="row">
          <div class="col-md-12">
            <div class="box box-primary shadow">
              <div class="box-header with-border">
              </div>
              <div class="box-body">
                <div class="row">
                  <div id="systemsDiv"></div>
                </div>
              </div>
              <div class="box-footer">
              </div>
            </div>
          </div>




        </div>
        <!-- /.row (main row) -->

      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Version</b> 2.3.7
      </div>
      <strong>Copyright &copy; 2014-2016
        <a href="http://almsaeedstudio.com">Almsaeed Studio</a>.</strong> All rights reserved.
    </footer>


    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->

  <!-- jQuery 2.2.3 -->
  <script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>
    $.widget.bridge('uibutton', $.ui.button);
  </script>
  <!-- Bootstrap 3.3.6 -->
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="/plugins/datatables/dataTables.bootstrap.min.js"></script>
  
  <!-- Slimscroll -->
  <script src="/plugins/slimScroll/jquery.slimscroll.min.js"></script>
  <!-- AdminLTE App -->
  <script src="/dist/js/app.min.js"></script>

  <script>
  $('#category').on('change', function() {
    $.ajax({
      url : "http://localhost:3002/attract/collection/" + this.value,
      success : function(data) {
        $("#sidebar-menu").empty();
        $.each(data, function(index, element) {
          $("#sidebar-menu").append("<li style=\"border-bottom:1px solid #404040\"><a href=\"#\" onclick=\"loadSystem(" + "'" + Object.keys(element)[0] + "')\"><span style=\"color:white\">" + Object.keys(element)[0] + "</span> <span class=\"total\">" + element[Object.keys(element)[0]] + "</span></a></li>");
        });
      }
    });
  });

  function loadSystem(system) {
    window.location = '/system/'+ system;
  }
  
  </script>

</body>

</html>