
<ul>
<li><a href='/mame/database'>MAME database</a></li>
</ul>

<select id="system">
    <option></option>
    <% for (var i = 0; i < systems.length; i++) { %>
        <option value="<%=systems[i].name%>"><%=systems[i].name%></option>
    <%}%>    
</select>

<a href="/system/a">aaaaaa</a>
    
<!-- jQuery 2.2.3 -->
<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
$('#system').on('change', function() {
    window.location = '/system/'+ $("#system").val();
});


</script>