
<ul>
        <li><a href='/mame/database'>MAME database</a></li>
        <li><a href='/amcp'>AM Control Panel</a></li>
</ul>

GLOG Systems:
<select id="system">
    <option></option>
    <% for (var i = 0; i < systems.length; i++) { %>
        <option value="<%=systems[i].name%>"><%=systems[i].name%></option>
    <%}%>    
</select>
    
<!--img src="http://localhost:8080/static2/bezel.png"-->

<!-- jQuery 2.2.3 -->
<script src="/plugins/jQuery/jquery-2.2.3.min.js"></script>

<script>
$('#system').on('change', function() {
    window.location = '/system/'+ $("#system").val();
});


</script>